body {
    margin: 0 ;
}

#Introduction {
    /*Aligning and placing at the proper location */ 
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/header.jpg);
    background-size: cover;
    & div {
        width:auto ; 
        height: auto;
        position: relative;
        right: 6%;  
    & button {
            width: 80%;
            height: 100%;
            background-color: white;
            border: #7441A7 solid 1px;
            color: #7441A7;
            border-radius:  40px;
        }
    }
}

#aboutMe {
    display: flex;
    & div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        & h2 {
            color: #7441A7;
        }
        & button {
            width: 20%;
            height: 10%;
            background-color: white;
            border: #7441A7 solid 1px;
            color: #7441A7;
            border-radius:  40px;
        }
    }

}