body {
    margin: 0 ;
}
#Introduction {
    /*Aligning and placing at the proper location */ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/header.jpg);
    background-size: cover;
    backdrop-filter: calc(0);
   
}